<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>The Ice-X <form></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="assets/img/ice-favicon.png" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="assets/styles/index.css"
    />
  </head>
  <body>
    <div id="title">
      <h1>The Ice-X < form /></h1>
    </div>
    <form action="http://localhost:8888/" method="get">
      <div class="quality container">
        <fieldset id="quality-field">
          <legend>Quality:</legend>
        </fieldset>
      </div>
      <div class="voice container">
        <fieldset id="voice-field">
          <legend>Voice:</legend>
        </fieldset>
      </div>
      <div class="extension container">
        <fieldset id="extension-field">
          <legend>Extension:</legend>
        </fieldset>
      </div>
      <div class="job container">
        <fieldset id="job-field">
          <legend>Job:</legend>
        </fieldset>
      </div>
      <div class="age container">
        <fieldset id="age-field">
          <legend>Age:</legend>
        </fieldset>
      </div>
      <div class="sexuality container">
        <fieldset id="sexuality-field">
          <legend>Sexuality:</legend>
        </fieldset>
      </div>
      <div class="duration container">
        <fieldset id="duration-field">
          <legend>Duration:</legend>
        </fieldset>
      </div>
      <div class="toFixes container">
        <fieldset id="toFixes-field">
          <legend>toFixes:</legend>
        </fieldset>
      </div>
      <div class="medias container">
        <fieldset id="medias-field">
          <legend>Medias:</legend>
        </fieldset>
      </div>
      <div class="relationships container">
        <fieldset id="relationships-field">
          <legend>Relationships:</legend>
        </fieldset>
      </div>
      <div class="tags container">
        <fieldset id="tags-field">
          <legend>Tags:</legend>
        </fieldset>
      </div>
      <div class="actions container">
        <fieldset id="actions-field">
          <legend>Actions:</legend>
        </fieldset>
      </div>
      <div class="moods container">
        <fieldset id="moods-field">
          <legend>Moods:</legend>
        </fieldset>
      </div>
      <div class="modelName container">
        <fieldset id="modelName-field">
          <legend>Model Name:</legend>
        </fieldset>
      </div>
      <div class="quickTip container">
        <fieldset id="quickTip-field">
          <legend>Quick Tip:</legend>
        </fieldset>
      </div>
      <div class="filePath container">
        <fieldset id="filePath-field">
          <legend>File Path:</legend>
        </fieldset>
      </div>

      <input id="submit" type="submit" value="Submit" />
    </form>
    <script src="assets/js/index.js"></script>
  </body>
</html>
